{
  "extends": "sammy",
  "overrides": [
    {
      "files": "./src/microservices/**",
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": "./src/migrations/**",
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
